#footer-main-container {
  justify-content: center;
  align-items: center;
};

#footer-content {
  color: #eb32a7;
}

/* Estilos para telas maiores (a partir de 480px) */
@media (min-width: 480px) {

}

/* Estilos para telas maiores (a partir de 1024px) */
@media (min-width: 1024px) {
  
}